{% extends 'MZJYabBundle::layout.html.twig' %}

{% block main %}
{{ parent() }}

<section>
    {% for entity in entities %}
        {% include 'MZJYabBundle:Post:short.html.twig' with {'post': entity} %}
    {% endfor %}
</section>


{% endblock main %}