{% extends '::base.html.twig' %}


{% block stylesheets %}
    {{ parent () }}

    {% stylesheets 'bundles/mzjyab/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
        
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Share' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.0/styles/zenburn.min.css">
{% endblock stylesheets %}    

{% block javascripts %}
     <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://yandex.st/highlightjs/7.0/highlight.min.js"></script>
     {% javascripts 'bundles/mzjyab/js/bootstrap.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block body %}
        
    <div id="container" class="center">
        
        <header>
            <h1>
                <a href="{{ path('MZJYabBundle_home') }}">Yet Another Blog</a>
            </h1>
            <div id="coolness">
                <div class="first"></div> 
                <div class="second"></div> 
                <div class="third"></div> 
            </div>
                <br class="clear">
        </header>
        
        <div id="main">
            {% block main %}
            {% endblock main %}
        </div> 
        
      
            {% block sidebar %}
                {% render "MZJYabBundle:Blog:sidebar" with {}, {'standalone': true} %}
            {% endblock sidebar %}
    <!-- end #container -->        
    <div>
        
    <footer>Copyleft 2012 - Marko Jovanović</footer>
    
{% endblock body %}