{% extends '::base.html.twig' %}


{% block stylesheets %}
    {{ parent () }}
    {% stylesheets  filter='cssrewrite' debug=false
            'bundles/mzjyab/css/style.css'
            
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    {% endstylesheets %}  
{% endblock stylesheets %}    

{% block body %}
        
    <div id="container" class="center">
        
        <header><h1>Yet Another Blog</h1></header>
        
        <div id="main">
            {% block main %}
            {% endblock main %}
        </div> 
        
      
            {% block sidebar %}
                {% render "MZJYabBundle:Blog:sidebar" %}
            {% endblock sidebar %}
    <!-- end #container -->        
    <div>
        
    <footer>Copyleft 2012 - Marko Jovanovic</footer>
    
{% endblock body %}