<section id="categories">
    <h3>Categories</h3>
    <nav>
        <ul>
            {% for category in categories %}
                {{ ' &#8594; '|repeat(category.lvl - 1)|raw }}{{ category.name }}<br>
            {% else %}
                There are no categories
            {% endfor %}
        </ul>
    </nav>
</section>