<section>
    <h1>Categories</h1>

    <nav>
        <ul>
            {% for category in categories %}
                {{ ' |— '|repeat(category.lvl - 1) }}{{ category.name }}<br>
            {% else %}
                There are no categories
            {% endfor %}
        </ul>
    </nav>
</section>