{% extends 'MZJYabBundle::layout.html.twig' %}

{% block main %}
    
    {{ parent() }}

    <section id="post">
        <article>
            <h1>{{ post.title }}</h1>
            <p>{{ post.content|raw }}</p>
        </article>
    </section>


{% endblock main %}