{% extends 'MZJYabBundle::layout.html.twig' %}

{% block main %}
    
    {{ parent() }}

    <section id="post">
        <article>
            <h1>{{ post.title }}</h1>
            <p class="abstract">{{ post.abstract }}</p>
            <p>{{ post.content|raw }}</p>
        </article>
    </section>
    <section id="comments">
        {% if post.commentsEnabled %}
            {% render "MZJYabBundle:Comment:list" with {'postId': post.id} %}
        {% else %}
            Comments disabled
        {% endif %}
    </section>

{% endblock main %}